@model PostUrlVM
@{
    ViewData["Title"] = "Hoşgeldiniz";
}

@{
    if(TempData["Message"] != null)
    {
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Başarılı!</strong> @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
}

<section class="landing py-5" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="~/img/welcome-img.png" class="img-fluid" alt="welcome" />
            </div>
            <div class="col-lg-8">
                <h1 class="display-4">
                    Link Kısatlmadan daha fazlası
                </h1>
                <p class="lead">
                    Markanızın tanınırlığını artırın ve bağlantılarınızın nasıl performans gösterdiğine ilişkin ayrıntılı bilgiler edinin
                </p>
            </div>
        </div>
    </div>
</section>

<section class="features" id="features">
    <div class="container">
        <div class="url-shorten-feature">
            <form class="url-shorten-form" id="url-shorten-form"
                asp-controller="Home"
                asp-action="ShortenUrl"
                method="post">
                <div>
                    <input type="text" name="Url" id="Url" class="url-input" placeholder="Kısaltılacak link..." autocomplete="off" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-lg">Kısalt!</button>
            </form>
            <div class="url-shorten-results"></div>
        </div>
    </div>
</section>
